@media(max-width: 5300px){
	.menu-btn{
		display: none;
	}
	.bg-shadow-block h2{
	font-size: 37px;
	float: left;
	margin: 2% 6%;
	text-shadow: 0 0 10px #fff;
}
.bg-shadow-block h2::first-letter{
font-size: 44px;
}
.bg-shadow-block p{
	font-size: 24px;
}
footer a{
font-size: 23px;
}
footer h3{
	font-size: 25px;
}
}
@media(max-width: 1107px){
	.head__shadow h1{
		font-size: 30px;
		padding: 8% 7%;
	}
	.bg-shadow-block p{
	font-size: 20px;
}
.content__mini-btn{
	font-size: 19px;
}

}
@media(max-width: 820px){
.menu-btn{
		display: block;
	}
	.links {
			display: grid;
			align-items: center;
			position: fixed;
			padding: 0;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			transform: translateX(-100%);
			transition: transform 0.5s;
		}
		nav a:before{
	content: "";
	width: 0;
	height: 0;
}
nav a:hover:before {
}
.head{
	background-size: 145%;
}
.bg-shadow-block p{
	font-size: 18px;
}
.bg-shadow-block h2{
	font-size: 31px;
}
.bg-shadow-block h2::first-letter{
	font-size: 35px;
}
.content__mini-btn{
	font-size: 17px;
}
}
@media(max-width: 700px){
		.head__shadow h1{
		font-size: 25px;
		padding: 12% 9%;
	}
	
.menu-btn{
	margin-left: 35%;
}
}
@media(max-width:626px){
	.head{
		background-size: 185%;
	}
.bg-shadow-block p{
	font-size: 16px;
}
.content__mini_btn{
	font-size: 16px;
}
footer a{
margin-left: 30%;
}
.modal__info, .modal__info1{
	width: 350px;
	height: 450px;
	padding: 50px;
}
}
@media(max-width: 495px){
	.head{
background-size: 265%;
	}
	.head__shadow h1{
		font-size: 20px;
		padding: 27% 10%;
		letter-spacing: 1px;
	}
.bg-shadow-block p{
	font-size: 14px;
}
.bg-shadow-block h2::first-letter{
	font-size: 32px;
}
.bg-shadow-block h2{
	font-size: 29px;
}
.menu-btn{
	margin-left: 36%;
}
nav{
	height: 45px;
}
nav img{
	height: 40px;
}
.modal__info, .modal__info1{
	width: 310px;
	height: 440px;
	padding: 50px;
}
.modal__info a, .modal__info1 a{
	font-size: 18px;
}
.openModalBtn1, .openModalBtn{
  min-width: 170px;
  max-width: 360px;
  min-height: 175px;
  max-height: 250px;
}
.projects{
	display: grid;
}
.openModalBtn{
	margin-top: 20%;
	margin-left: 0;
}
.content2 h2{
	font-size: 23px;
}
footer a{
margin-left: 23%;
font-size: 17px;
}
footer img{
	height: 25px;
}
footer h3{
	font-size: 18px;
}
}
@media(max-width: 350px){
	.head{
		background-size: 390%;
	}
.bg-shadow-block p{
	font-size: 12px;
}
.menu-btn{
	margin-left: 21%;
}
footer a{
font-size: 15px;
}
footer h3{
font-size: 15px;
}
.modal__info, .modal__info1{
	width: 265px;
	height: 420px;
	padding: 50px;
}
}
@media(max-width: 290px){
	.content__block4{
	background-size: 345%;
}
.modal__info, .modal__info1{
	width: 245px;
	height: 410px;
	padding: 50px;
}
footer a{
margin-left: 17%;
}
}